.doing {
    padding-top: 0;
    @media screen and (max-width:1199px) {
        display: none;
    }
}

.doing__photo,
.command-photo {
    display: block;
    max-width: 100%;
    height: auto;
}

.doing__list {
    display: flex;
}

.doing__item:not(:last-child) {
    margin-right: 30px;
}

.doing__thumb {
    position: relative;
    display: flex;
    justify-content: center;
    &::before {
        display: inline-block;
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        width: 100%;
        height: 70px;
        background-color: $thumb-bg;
    }
}

.doing__thumb-text {
    position: absolute;
    bottom: 27px;
    font-weight: 700;
    text-transform: uppercase;
    color: $white-text-color;
}