.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $shadow-color3;
    opacity: 1;
    z-index: 2;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.7);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    padding: 40px;
    background-color: $modal-color;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal__button--close {
    position: absolute;
    @include CenteredFlex (flex);
    left: 490px;
    top: 0;
    right: 0;
    margin: 8px 8px auto auto;
    top: 8px;
    width: 30px;
    height: 30px;
    border: 1px solid $shadow-color4;
    border-radius: 50%;
    box-sizing: border-box;
    background-color: $white-bg;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    &:hover,
    &:focus {
        fill: $accent-color;
        }
}

.main-form__title {
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $dark-text-color;
}

.main-form__field {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main-form__label {
    margin-top: 10px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: $label-color;
}

.main-form__label--first {
    margin-top: 12px;
}

.main-form__icon {
    position: absolute;
    top: 78%;
    left: 12px;
    transform: translateY(-78%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-form__input {
    margin-top: 4px;
    width: 100%;
    cursor: pointer;
    height: 40px;
    padding-left: 42px;
    border: 1px solid $input-border-color;
    box-sizing: border-box;
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        border: 1px solid $accent-color;
    }
}

.main-form__input:hover+.main-form__icon,
.main-form__input:focus+.main-form__icon {
    fill: $accent-color;
}

.main-form__comment {
    margin-top: 4px;
    width: 100%;
    height: 120px;
    resize: none;
    border: 1px solid $input-border-color;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px 16px;
    &:hover,
    &:focus {
            border: 1px solid $accent-color;
        }
}

.main-form__agreement {
    position: relative;
}

.main-form__agreement-label {
    display: block;
    margin-left: 36px;
    margin-top: 20px;
    color: $label-color;
    font-size: clamp(8px 1em 14px);
}

.main-form__agreement-label a {
    text-decoration-line: underline;
    color: $accent-color;
}

.main-form__agreement-checkbox {
    position: absolute;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.main-form__icon--border {
    position: absolute;
    display: inline-block;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    @include CenteredFlex (flex);
    width: 16px;
    height: 15px;
    border: 2px solid $main-text-color;
    border-radius: 2px;
}

.main-form__agreement-checkbox:checked+.main-form__icon--border {
    background-color: $accent-color;
    border: 2px solid $accent-color;
}

.main-form__button--submit {
    cursor: pointer;
    margin-top: 40px;
    width: 200px;
    height: 50px;
    background-color: $accent-color;
    border-radius: 4px;
    border: none;
    color: $white-text-color;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.06em;
    box-shadow: 0px 1px 3px $shadow-color1, 0px 1px 1px $shadow-color2,
        0px 2px 1px $shadow-color3;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
            background-color: $main-button-hover;
        }
}
@media screen and (max-width:479px) {
    .modal {
        min-width: 90%;
    }
    .main-form__agreement-label {
        font-size: calc(8px + (6 + 6 * 0.7) * ((100vw - 320px) / 1200));
    }
}

@media screen and (min-width:480px) and (max-width:1199px) {
    .modal {
        min-width: 450px;
        height: 609px;
        max-width: 90%;
    }
    .main-form__agreement-label {
        font-size: calc(9px + (5 + 5 * 0.7) * ((100vw - 480px) / 1200));
    }
}


@media screen and (min-width:1200px) {
    .modal {
        width: 528px;
        height: 581px;
    }
}