$main-text-color: rgba(33, 33, 33, 1);
$second-text-color: rgba(117, 117, 117, 1);
$accent-color: rgba(33, 150, 243, 1);
$black-text-color: #000000;
$dark-text-color: #212121;
$white-text-color: #ffffff;
$address-text-color: rgba(255, 255, 255, 0.6);
$white-bg: #ffffff;
$light-grey-bg: rgba(245, 244, 250, 1);
$dark-bg: rgba(47, 48, 58, 1);
$main-button-hover: #188ce8;
$shadow-color1: rgba(0, 0, 0, 0.12);
$shadow-color2: rgba(0, 0, 0, 0.14);
$shadow-color3: rgba(0, 0, 0, 0.2);
$shadow-color4: rgba(0, 0, 0, 0.1);
$shadow-color5: rgba(0, 0, 0, 0.08);
$shadow-color6: rgba(0, 0, 0, 0.06);
$shadow-color7: rgba(0, 0, 0, 0.16);
$shadow-color8: rgba(0, 0, 0, 0.15);
$header-border: #ececec;
$portfolio-box-border: #eeeeee;
$gradient-color: rgba(47, 48, 58, 0.4);
$social-icons: #afb1b8;
$social-button-bg: rgba(255, 255, 255, 0.1);
$modal-color: rgba(255, 255, 255, 1);
$thumb-bg: rgba(47, 48, 58, 0.8);
$porfolio-thumb-bg: rgba(33, 150, 243, 0.9);
$input-border-color: rgba(33, 33, 33, 0.2);
$label-color: #757575;
@font-face {
    font-family: Roboto ;
    src: url(//fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap);
}